appdirs==1.4.4
asgiref==3.3.4
certifi==2021.5.30
chardet==4.0.0
distlib==0.3.1
Django==3.2.3
django-filter==2.4.0
filelock==3.0.12
heroku==0.1.4
idna==2.10
Pillow==8.2.0
python-dateutil==1.5
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.5
virtualenv==20.4.6
