{% extends 'Main.html' %}

{% block stuff %} {% endblock %}
{% block content %}
<div class = "main" style = "height: 77vw">
    <div  style = "position:absolute; top: 1vw;">
        {% if request.user.customer.image == null %}
            <div style="background-color: rgb(11, 122, 157); width:32vw; height: 32vw; display: block; margin: 2vw; z-index: 1; position: absolute; top: 1.5vw; left: 1.5vw">
                <img src ="https://sun9-19.userapi.com/impg/XbtglT2F1Fd9TzPfADUA8N6M2VF9zv-N9OwyVg/OYrfNutwS1M.jpg?size=2000x2000&quality=96&sign=e76db4d30b878acee8198e28527060b9&type=album" style = " width: 30vw; height: 30vw; position: relative; top: 1vw; left: 1vw;">
            </div>
            {% else %}
            <div style="background-color: rgb(11, 122, 157); width:32vw; height: 32vw; display: block; margin: 2vw; z-index: 1; position: absolute; top: 1.5vw; left: 1.5vw">
                <img src ="{{ request.user.customer.image }}" style = " width: 30vw; height: 30vw; position: relative; top: 1vw; left: 1vw;">
            </div>
            {{ request.user.customer.image }}
        {% endif %}

        <div style = "background-color: rgb(198, 219, 236); width:47.3vw; height: 0.45vw; position: absolute; border-radius: 0.3vw; top: 5vw; left: 39vw"></div>
        <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 5vw; left: 39vw"><p style = "margin-top:1.95vw; margin-left: 1vw; font-size: 2.5vw; color: rgb(12, 34, 84);">Username:</p></div>
        <div style = "background-color: rgb(198, 219, 236); width:0.45vw; height: 5vw; position: absolute; border-radius: 0.3vw; top: 6.2vw; left: 56vw"></div>

        <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 5vw; left: 57vw"><p style = "margin-top:1.95vw; margin-left: 1vw; font-size: 2.5vw; color: rgb(12, 34, 84);">{{ request.user }}</p></div>

        <div style = "background-color: rgb(198, 219, 236); width:47.3vw; height: 0.45vw; position: absolute; border-radius: 0.3vw; top: 12vw; left: 39vw"></div>
        <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 12vw; left: 39vw"><p style = "margin-top:1.95vw; margin-left: 1vw; font-size: 2.5vw; color: rgb(12, 34, 84);">Name:</p></div>
        <div style = "background-color: rgb(198, 219, 236); width:0.45vw; height: 5vw; position: absolute; border-radius: 0.3vw; top: 13.2vw; left: 56vw"></div>
        {% if  request.user.customer.name == null %}
            <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 19vw; left: 57vw"><p style = "margin-top:1.95vw; margin-left: 1vw; font-size: 2.5vw; color: rgb(12, 34, 84);">Haven't added yet</p></div>
            {% else %}
             <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 12vw; left: 57vw"><p style = "margin-top:1.95vw; margin-left: 1vw; font-size: 2.5vw; color: rgb(12, 34, 84);">{{  request.user.customer.name }}</p></div>
        {% endif %}

        <div style = "background-color: rgb(198, 219, 236); width:47.3vw; height: 0.45vw; position: absolute; border-radius: 0.3vw; top: 19vw; left: 39vw"></div>
        <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 19vw; left: 39vw"><p style = "margin-top:1.95vw; margin-left: 1vw; font-size: 2.5vw; color: rgb(12, 34, 84);">Telephone:</p></div>
        <div style = "background-color: rgb(198, 219, 236); width:0.45vw; height: 5vw; position: absolute; border-radius: 0.3vw; top: 20.2vw; left: 56vw"></div>
        {% if  request.user.customer.telephone == null %}
            <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 19vw; left: 57vw"><p style = "margin-top:1.95vw; margin-left: 1vw; font-size: 2.5vw; color: rgb(12, 34, 84);">Haven't added yet</p></div>
            {% else %}
            <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 19vw; left: 57vw"><p style = "margin-top:1.95vw; margin-left: 1vw; font-size: 2.5vw; color: rgb(12, 34, 84);">{{ request.user.customer.telephone }}</p></div>
        {% endif %}

        <div style = "background-color: rgb(198, 219, 236); width:47.3vw; height: 0.45vw; position: absolute; border-radius: 0.3vw; top: 26vw; left: 39vw"></div>
        <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 26vw; left: 39vw"><p style = "margin-top:1.95vw; margin-left: 1vw; font-size: 2.5vw; color: rgb(12, 34, 84);">Email:</p></div>
        <div style = "background-color: rgb(198, 219, 236); width:0.45vw; height: 5vw; position: absolute; border-radius: 0.3vw; top: 27.2vw; left: 56vw"></div>

        <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 26vw; left: 57vw"><p style = "margin-top:1.95vw; margin-left: 1vw; font-size: 2.5vw; color: rgb(12, 34, 84);">{{ request.user.email }}</p></div>

        <div style = "background-color: rgb(198, 219, 236); width:47.3vw; height: 0.6vw; position: absolute; border-radius: 0.3vw; top: 33vw; left: 39vw"></div>


        <div style = "display: flex; justify-content: center; align-items: center; width: 90vw; position: absolute; top: 37vw">
            <a href = "{% url 'cart' %}"><div class ="button-old" style="background-color: rgb(11, 122, 157); width:25vw; height: 15vw; display: block; margin: 2vw; z-index: 1; color: white; text-align: center; font-size: 3vw;"><p style = "padding-top: 5.5vw; white-space: nowrap;">Корзина</p></div></a>
            <a href = "https://vk.com/"><div class ="button-old" style="background-color: rgb(11, 122, 157); width:25vw; height: 15vw; display: block; margin: 2vw; z-index: 1; color: white; text-align: center; font-size: 3vw;"><p style = "padding-top: 5.5vw; white-space: nowrap;">Текущие заказы</p></div></a>
            <a href = "https://vk.com/"><div class ="button-old" style="background-color: rgb(11, 122, 157); width:25vw; height: 15vw; display: block; margin: 2vw; z-index: 1; color: white; text-align: center; font-size: 3vw;"><p style = "padding-top: 5.5vw; white-space: nowrap;">История заказов</p></div></a>
        </div>

        <div style = "display: flex; justify-content: center; align-items: center; width: 90vw; position: absolute; top: 55vw">
            <a href = "{% url 'edit' request.user.id %}"><div class ="button-old" style="background-color: rgb(11, 122, 157); width:25vw; height: 15vw; display: block; margin: 2vw; z-index: 1; color: white; text-align: center; font-size: 3vw;"><p style = "padding-top: 5.5vw; white-space: nowrap;">Settings</p></div></a>
            <a href = "https://vk.com/"><div class ="button-old" style="background-color: rgb(11, 122, 157); width:25vw; height: 15vw; display: block; margin: 2vw; z-index: 1; color: white; text-align: center; font-size: 3vw;"><p style = "padding-top: 5.5vw; white-space: nowrap;">Бонусы</p></div></a>
            <a href = "{% url 'logout' %}?next=/loggedout "><div class ="button-old" style="background-color: rgb(11, 122, 157); width:25vw; height: 15vw; display: block; margin: 2vw; z-index: 1; color: white; text-align: center; font-size: 3vw;"><p style = "padding-top: 5.5vw; white-space: nowrap;">Выйти</p></div></a>

        </div>
    </div>
</div>

<div class = "footer" style = "position: absolute; top:77vw">
    <div style = "background-color: rgb(11, 122, 157); width:100%; height: 4.5vw; position: relative; top: 2vw; display: flex; justify-content: center; align-items: center; font-size: 1.7vw; color: white;">
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;"> Контакты </p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;"> +7 708 113 45 98 </p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;"> *Some Adress of shop* </p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>

    </div>
    <div style = "background-color: rgb(11, 122, 157); width:100%; height: 4.5vw; position: relative; top: 3.5vw; display: flex; justify-content: center; align-items: center; font-size: 1.7vw; color: white;">
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;">FAQ</p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;">Мы в социальных сетях:</p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;">*Some Adress of shop* </p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
    </div>
</div>
{% endblock %}
