{% extends 'Main.html' %}
{% load static %}
{% block stuff %} {% endblock %}
{% block content %}
<div class = "main" style = "height: 20vw">
    <form method="POST" action="" enctype="multipart/form-data" style = "position: absolute; top:1.5vw; font-size: 2vw;">
        {% csrf_token %}
        <div style = "position: absolute; top: 3vw; left:2vw; height: 4vw; width: 26vw; background-color: rgb(11, 122, 157); padding-top: 0.4vw; text-align: center; color: white">Name</div>
        <div style = "position: absolute; top: 3vw; left:31vw; height: 4vw; width: 26vw; background-color: rgb(11, 122, 157); padding-top: 0.4vw; text-align: center; color: white">Telephone</div>
        <div style = "position: absolute; top: 3vw; left:60vw; height: 4vw; width: 28vw; background-color: rgb(11, 122, 157); padding-top: 0.4vw; text-align: center; color: white">Profile image</div>
            {{ form.name}}
            {{ form.telephone}}
            {{ form.image}}
            <button type="submit" class = "button-old" style = "color: white; position: absolute; top: 12.8vw; left: 2vw; background-color: rgb(43, 220, 255); width:86vw; height: 4vw; z-index: 1000; border: none; outline: none; ">Submit</button>
        
    </form>
</div>
{% endblock %}