<!DOCTYPE html>
<html>
    <head>
        <link rel = "icon" href = "https://sun9-15.userapi.com/impf/1FNUUHkR_lAAHO7XSwEqHVna1rJOxjTnP71ZGQ/QkIl8ZT5hA4.jpg?size=2000x2000&quality=96&proxy=1&sign=28806b1484ef08a36c80a9c00ecd4c97&type=album">
        <link rel = "stylesheet" type = "text/css" href = "Style.css">
        <title>Projects - Makhmutov Eldar</title>
    </head>

    <body>
            <div class = "main" style="position: absolute; top: 10vh">
            <br>
            <p>So, I'm 3d modeller and i can work with 3d. Here you can see list of all programs which I can work with:</p>
            <p>Adobe Photoshop</p>
            <p>Adobe Illustrator</p>
            <p>Adobe Premiere</p>
            <p>Adobe Audition</p>
            <p>Adobe After Effetcs</p>
            <p>Adobe Lightroom </p>
            <p>3Ds Max</p>
            <p>Blender</p>
            <p>Substance Painter</p>
            <p>Zbrush</p>
            <p>Movavi Video Suite</p>
            <p>And with Microsoft Office, especially with PowerPoint. And I really can say that I'm PowerPoint master, since have up to 2000 animations per slide and i have created a lot of animated backgrounds.</p>
            <p>It is a link of 3Ds Max animation: <br> <br><a href = "https://www.youtube.com/watch?v=ZGEsFaRLKw4">https://www.youtube.com/watch?v=ZGEsFaRLKw4</a></p> <br>
            <p>And couple of my projects' screenshots:</p>

                <img src="IqNTqN5pbDc.jpg" width="384" height="216">
                <img src="KgBwHaWvsiM.jpg" width="384" height="216">
                <img src="zVbBHEGp2ic.jpg" width="384" height="216">
                <img src="CJatcyjZOgk.jpg" width="384" height="216">
                <img src="8pdMO4Qh2r8.jpg" width="384" height="216">
                <img src="DhXrNnab9ks.jpg" width="384" height="216">
                <img src="g9VN_2xKyQE.jpg" width="384" height="216"> 

        </div>

        <div class = "header">
            <div class="horizontal">
                <div class = "horizontal_block"><a href = "Main.html">Briefly about me</a></div>
                <div class = "horizontal_block"><a href = "Projects.html"> Projects</a></div>
                <div class = "horizontal_block"><a href = "https://www.instagram.com/rezo_jonero/"> Photos</a></div>
            </div>
        </div>

        

        <div class = "footer" style="position: fixed; top: 88vh">
            <p>Contacts:</p>
            <div class="horizontal">
                <a href="https://vk.com/enerfire"> <img  src="https://cdn.worldvectorlogo.com/logos/vk-1.svg" width="50" height="50"> </a>
                <a href="https://www.youtube.com/channel/UCQh8IQUUjGG9QknGjgsIxHg"> <img  src="https://seeklogo.com/images/Y/youtube-square-logo-3F9D037665-seeklogo.com.png" width="50" height="50"> </a>
                <a href="https://www.instagram.com/rezo_jonero/"> <img  src="https://www.shareicon.net/data/2016/07/08/117156_media_512x512.png" width="50" height="50"> </a>
                <a href="https://www.whatsapp.com/"> <img  src="https://cdn0.iconfinder.com/data/icons/social-media-square-4/1024/whatsapp-512.png" width="50" height="50"> </a>

            </div>

            
        </div>

    </body>

</html>