{% extends 'Main.html' %}
{% load static %}
{% block stuff %} {% endblock %}
{% block content %}
<div class = "main" style = "height: 27.5vw;">
    <form method="POST" action="">{% csrf_token %}
        <div style="background-color: rgb(255, 255, 255); position: relative; top: 0.5vw;font-size: 1.5vw; color: white; white-space: nowrap; ">
            <div style = " width: 16vw; height: 16vw; position: absolute; top: 1vw; left: 1vw; background-color:rgb(11, 122, 157);"><img style = "width: 15vw; height: 15vw; position: relative; top: 0.5vw; left: 0.5vw;" src ="/static/Resourses/{{ request.user.customer.image }}" ></div>

            
                {{ form.body }}
            
            
               <div style = "position: absolute; width:13vw; left: 1vw; top: 18vw; height: 3vw; text-align: center; background-color:rgb(11, 122, 157); padding-top: 0.4vw;">Rating</div> 
                
            {{ form.rating }}
            
            <button type="submit" class="button-old" style="background-color: rgb(43, 220, 255); width:88vw; height: 4vw; position: absolute; left:1vw; top: 22vw; z-index: 1000; border: none; outline: none; box-shadow: 0 0 0.5vw rgba(0,0,0,0.5);">Submit</button>
        </div>
    </form>
</div>
{% endblock %}