{% extends 'Main.html' %}

{% block stuff %} {% endblock %}
  {% block content %}
<div class = "main" style = "height: 176.5vw">
  <div  style = "position:absolute; top: 0.5vw;">

              <div style="background-color: rgb(3, 210, 251); width:90vw; height: 4vw; position: absolute; left: 0vw; top: 6.5vw; z-index: 0;"></div>
              <div style="background-color: rgb(11, 122, 157); width:40vw; height: 6vw; position: absolute; left: 5vw; top: 2vw; text-align: center; font-size: 3.5vw; color: white; box-shadow: 0 0 1vw rgba(0,0,0,0.5); z-index: 1;"><p style = "margin-top:0.4vw"> {{ products.0.name }}</p></div>


              <div style="background-color: rgb(11, 122, 157); width:35vw; height: 40vw; display: block; margin: 2vw; z-index: 1; position: absolute; top: 7.5vw; left: 5.5vw">
                  <img src ="{{products.0.imageURL}}" style = " width: 33vw; height: auto; position: relative; top: 1vw; left: 1vw;">
                  <button class="update-cart" data-product={{products.0.id}} data-action="add" style="width:20vw; height: 4vw; position: relative; left: 15vw; top: 3vw; background-color: none; outline: none; border: none;"><div class = "button-old" style="background-color: rgb(43, 220, 255); width:22vw; height: 6vw; position: relative; left:-1vw; top: -1vw"><p style="font-size: 2.6vw; color: rgb(11, 122, 157); white-space: nowrap; font-weight: bold; position: relative; left: 0vw; top: 1.2vw;">Add to cart</p></div></button>
                </div>
              <div style = "background-color: rgb(198, 219, 236); width:40.3vw; height: 0.6vw; position: absolute; border-radius: 0.3vw; top: 13vw; left: 46vw"></div>
              <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 14vw; left: 46vw"><p style = "margin-top:0.4vw; font-size: 4vw; color: rgb(12, 34, 84);">Наличие: {{ products.0.availability }}</p></div>
              <div style = "background-color: rgb(198, 219, 236); width:40.3vw; height: 0.6vw; position: absolute; border-radius: 0.3vw; top: 21vw; left: 46vw"></div>
              <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 22vw; left: 46vw"><p style = "margin-top:0.4vw; font-size: 4vw; color: rgb(12, 34, 84);">Brand: {{ products.0.brand }}</p></div>
              <div style = "background-color: rgb(198, 219, 236); width:40.3vw; height: 0.6vw; position: absolute; border-radius: 0.3vw; top: 29vw; left: 46vw"></div>
          <!--    <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 22vw; left: 46vw"><p style = "margin-top:0.4vw; font-size: 4vw; color: rgb(12, 34, 84);">Classification: {{ products.0.classification }}</p></div>
              <div style = "background-color: rgb(198, 219, 236); width:40.3vw; height: 0.6vw; position: absolute; border-radius: 0.3vw; top: 29vw; left: 46vw"></div>-->
              <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 30vw; left: 46vw"><p style = "margin-top:0.4vw; font-size: 4vw; color: rgb(12, 34, 84);">Цена: {{ products.0.price }} ₸</p></div>
              <div style = "background-color: rgb(198, 219, 236); width:40.3vw; height: 0.6vw; position: absolute; border-radius: 0.3vw; top: 37vw; left: 46vw"></div>
              <div style = " width:40.3vw; height: 6vw; position: absolute; border-radius: 0.3vw; top: 38vw; left: 46vw"><p style = "margin-top:0.4vw; font-size: 4vw; color: rgb(12, 34, 84);">Рейтинг:</p></div>

              <div id = "1_Rate" style = "width: 4vw; height: 4vw; background-color: rgb(182, 182, 182); position: absolute;  top: 39.5vw; left: 63vw;"></div>
              <div id = "2_Rate" style = "width: 4vw; height: 4vw; background-color: rgb(182, 182, 182); position: absolute;  top: 39.5vw; left: 67.5vw;"></div>
              <div id = "3_Rate" style = "width: 4vw; height: 4vw; background-color: rgb(182, 182, 182); position: absolute;  top: 39.5vw; left: 72vw;"></div>
              <div id = "4_Rate" style = "width: 4vw; height: 4vw; background-color: rgb(182, 182, 182); position: absolute;  top: 39.5vw; left: 76.5vw;"></div>
              <div id = "5_Rate" style = "width: 4vw; height: 4vw; background-color: rgb(182, 182, 182); position: absolute;  top: 39.5vw; left: 81vw;"></div>




              <div style = "background-color: rgb(198, 219, 236); width:40.3vw; height: 0.6vw; position: absolute; border-radius: 0.3vw; top: 45vw; left: 46vw"></div>



              <script>
                  var rate = {{ products.0.rating }};


                  function Rate() {
                      if (rate >= 1){
                          var Rate_v_1 = document.getElementById('1_Rate');
                          Rate_v_1.style.backgroundColor = "rgb(12, 34, 84)";
                      };
                      if (rate >= 2){
                          var Rate_v_2 = document.getElementById('2_Rate');
                          Rate_v_2.style.backgroundColor = "rgb(12, 34, 84)";
                      };
                      if (rate >= 3){
                          var Rate_v_3 = document.getElementById('3_Rate');
                          Rate_v_3.style.backgroundColor = "rgb(12, 34, 84)";
                      };
                      if (rate >= 4){
                          var Rate_v_4 = document.getElementById('4_Rate');
                          Rate_v_4.style.backgroundColor = "rgb(12, 34, 84)";
                      };
                      if (rate >= 5){
                          var Rate_v_5 = document.getElementById('5_Rate');
                          Rate_v_5.style.backgroundColor = "rgb(12, 34, 84)";
                      }
                  }
                  document.onload = Rate();
              </script>




              <div style="background-color: rgb(3, 210, 251); width:90vw; height: 4vw; position: absolute; left: 0vw; top: 66.5vw; z-index: 0;"></div>
              <div style="background-color: rgb(11, 122, 157); width:40vw; height: 6vw; position: absolute; left: 5vw; top: 62vw; text-align: center; font-size: 3.5vw; color: white; box-shadow: 0 0 1vw rgba(0,0,0,0.5); z-index: 1;"><p style = "margin-top:0.4vw"> Описание продукта</p></div>
              <div style = "width: 90vw; position: absolute;  top: 70vw;"><p style = "padding: 4vw; margin-top:0.4vw;  font-size: 2vw; color: rgb(12, 34, 84);">
                  {{ products.0.description }}
              </p></div>

              <div style="background-color: rgb(3, 210, 251); width:90vw; height: 4vw; position: absolute; left: 0vw; top: 110vw; z-index: 0;"></div>
              <div style="background-color: rgb(11, 122, 157); width:40vw; height: 6vw; position: absolute; left: 5vw; top: 106vw; text-align: center; font-size: 3.5vw; color: white; box-shadow: 0 0 1vw rgba(0,0,0,0.5); z-index: 1;"><p style = "margin-top:0.4vw"> Комментарии ({{ numberOfComments }})</p></div>
              <div style = "width:90vw; height: 62vw; position: absolute; top: 114vw; background-color: rgb(201, 201, 201); font-size: 2vw; overflow-y: scroll; overflow-x: hidden;"><!-- Секция комментариев-->


                <!-- Это блок комментария (начало) -->
                  {% if not products.0.comments.all %}
                      <div style="width:30vw; height: 4vw; position: relative; left: 3.0vw; top: 3vw; outline: none; border: none;">
                          <button class="button-old" style="background-color: rgb(43, 220, 255); width:30vw; height: 6vw; position: relative; left:2.0vw; top: 1.0vw"><a href="{% url 'comment' products.0.id %}" style="font-size: 2.0vw; color: rgb(11, 122, 157); white-space: nowrap; font-weight: bold; position: center; left: 0vw; top: 1.2vw;">Leave a Comment First</a></button>
                      </div>
                      {% else %}
                      <button class="button-old" style="background-color: rgb(43, 220, 255); width:22vw; height: 6vw; position: relative; left:2.0vw; top: 1.0vw"><a href="{% url 'comment' products.0.id %}" style="font-size: 2.0vw; color: rgb(11, 122, 157); white-space: nowrap; font-weight: bold; position: center; left: 0vw; top: 1.2vw;">Leave a Comment</a></button>
                      {% for comment in products.0.comments.all %}
                          <div style="background-color: rgb(255, 255, 255); width:70vw; height: 21vw; position: relative; left: 0vw; font-size: 1.5vw; color: white; white-space: nowrap; margin: 2vw; box-shadow: 0 0 0.8vw rgba(0,0,0,0.5);">
                              <div style = " width: 6vw; height: 6vw; position: relative; top: 1vw; left: 1vw; background-color:rgb(11, 122, 157);"><img style = "width: 5vw; height: 5vw; position: relative; top: 0.5vw; left: 0.5vw;" src ="https://sun9-19.userapi.com/impg/XbtglT2F1Fd9TzPfADUA8N6M2VF9zv-N9OwyVg/OYrfNutwS1M.jpg?size=2000x2000&quality=96&sign=e76db4d30b878acee8198e28527060b9&type=album" ></div>

                              <div style = " width:20vw; height: 3vw; position: relative; background-color: rgb(11, 122, 157); top: -4vw; left: 7.5vw;"><p style = "margin-top:0.4vw; padding-left:0.7vw; font-size: 2vw; color: rgb(255, 255, 255);">
                                  {{ comment.username }}</p></div>
                              <div style = " width:20vw; height: 3vw; position: relative; background-color: rgb(11, 122, 157); top: -7.4vw; left: 28vw;"><p style = "margin-top:0.4vw; padding-left:0.7vw; font-size: 2vw; color: rgb(255, 255, 255);">
                                  {{ comment.date_added }}</p></div>

                              <div style = "display: flex; justify-content: center; align-items: center; position: relative; left:25vw; top: -10.43vw">
                                  <div id = "1_Rate_C" onload="RateComment()" style = "display:block; margin-left:0.6vw; width: 3vw; height: 3vw; background-color: rgb(182, 182, 182);"></div> <!-- Это рейтинг, его нужно определить при создании сайта с помощью кода python (просто там где есть "звёздочка" вместо "rgb(182, 182, 182)" установить "rgb(12, 34, 84)" в background-color;)-->
                                  <div id = "2_Rate_C" onload="RateComment()" style = "display:block; margin-left:0.6vw; width: 3vw; height: 3vw; background-color: rgb(182, 182, 182);"></div>
                                  <div id = "3_Rate_C" onload="RateComment()" style = "display:block; margin-left:0.6vw; width: 3vw; height: 3vw; background-color: rgb(182, 182, 182);"></div>
                                  <div id = "4_Rate_C" onload="RateComment()" style = "display:block; margin-left:0.6vw; width: 3vw; height: 3vw; background-color: rgb(182, 182, 182);"></div>
                                  <div id = "5_Rate_C" onload="RateComment()" style = "display:block; margin-left:0.6vw; width: 3vw; height: 3vw; background-color: rgb(182, 182, 182);"></div>
                              </div>
                              <div style=" width:70vw; height: 20vw; position: relative; left: 0vw; top: -6vw; left: 2vw; color: rgb(107, 107, 107);">
                                  <div style = "background-color: rgb(198, 219, 236); width:68vw; height: 0.2vw; position: relative; border-radius: 0.3vw; left: -1vw; top: -1.5vw"></div>
                                  <div style = " width:68vw;  position: relative; top: -1vw; left: -1vw;"><p style = "padding-left:0.7vw; font-size: 2vw; color: rgb(12, 34, 84); white-space: normal; line-height: 1.2">{{ comment.body }}</p></div>

                                  <div style = "background-color: rgb(198, 219, 236); width:68vw; height: 0.2vw; position: relative; border-radius: 0.3vw; left: -1vw; top: -1vw"></div>

                                  {% if comment.username == user.username %}
                                      <div style="width:6vw; height: 3vw; position: relative; right: 16.2vw; top: 3vw; outline: none; border: none;">
                                        <button class="button-old" style="background-color: rgb(43, 220, 255); width:6vw; height: 3vw; position: relative; left:15vw; top: 1.0vw">
                                            <a href="{% url 'delete_comment' comment.id %}" style="font-size: 1.5vw; color: rgb(11, 122, 157); white-space: nowrap; font-weight: bold; position: center; left: 0vw; top: 1.2vw;">Delete</a>
                                        </button>
                                      </div>
                                  {% endif %}
                              </div>
                          </div>
                          <!-- Script for rating-->
                          <script>
                              var rateComment = {{ comment.rating }};

                              function RateComment() {
                                  if (rateComment >= 1){
                                      var Rate_v_1 = document.getElementById('1_Rate_C');
                                      Rate_v_1.style.backgroundColor = "rgb(12, 34, 84)";
                                  }
                                  if (rateComment >= 2){
                                      var Rate_v_2 = document.getElementById('2_Rate_C');
                                      Rate_v_2.style.backgroundColor = "rgb(12, 34, 84)";
                                  }
                                  if (rateComment >= 3){
                                      var Rate_v_3 = document.getElementById('3_Rate_C');
                                      Rate_v_3.style.backgroundColor = "rgb(12, 34, 84)";
                                  }
                                  if (rateComment >= 4){
                                      var Rate_v_4 = document.getElementById('4_Rate_C');
                                      Rate_v_4.style.backgroundColor = "rgb(12, 34, 84)";
                                  }
                                  if (rateComment >= 5){
                                      var Rate_v_5 = document.getElementById('5_Rate_C');
                                      Rate_v_5.style.backgroundColor = "rgb(12, 34, 84)";
                                  }
                              }
                              document.onload = RateComment();
                          </script>
                      {% endfor %}
                  {% endif %}
                <!-- Это блок комментария (конец) -->


            </div>
          </div>
</div>
<div class = "footer" style = "position: absolute; top: 176.5vw">
    <div style = "background-color: rgb(11, 122, 157); width:100%; height: 4.5vw; position: relative; top: 2vw; display: flex; justify-content: center; align-items: center; font-size: 1.7vw; color: white;">
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;"> Контакты </p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;"> +7 708 113 45 98 </p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;"> *Some Adress of shop* </p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>

    </div>
    <div style = "background-color: rgb(11, 122, 157); width:100%; height: 4.5vw; position: relative; top: 3.5vw; display: flex; justify-content: center; align-items: center; font-size: 1.7vw; color: white;">
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;">FAQ</p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;">Мы в социальных сетях:</p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
        <p style = "display: block;margin: 2vw;">*Some Adress of shop* </p>
        <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
    </div>
</div>
  {% endblock %}
