{% extends 'Main.html' %}

{% block stuff %} {% endblock %}
{% block content %}
        <div class = "main">
          <div  style = "position:absolute; top: 24vw;">
            <div style = "background-color: rgba(11, 122, 157, 0.7); width:20vw; height: 180vw; position: absolute; left:-4vw; color: white; font-size: 2vw;">
                <form method="GET">

            <div style = "background-color: rgb(14, 154, 197); width:20vw; height: 4vw; position: relative; color: white; font-size: 2vw; text-align: center; z-index: 10;"><p style = "padding-top: 0.55vw;">Price</p></div>
                   <div style="background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw">
                       <p >Less or equal: <span style="size: 3px;">{{ myFilter.form.price__lt }}</span></p>
                   </div>
                    <div style="background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw">
                       <p>Greater or equal: <span>{{ myFilter.form.price__gt }}</span></p>
                   </div>
                <!--<button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> 0-500</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw">500-1000</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw">1000-2000</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw">2000-4000</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw">4000+</button>-->
             <div style = "background-color: rgb(14, 154, 197); width:20vw; height: 4vw; position: relative; color: white; font-size: 2vw; text-align: center; z-index: 10;"><p style = "padding-top: 0.55vw;">Rating</p></div>
                   <div style="background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw">
                       <p >Rating: <span style="size: 3px;">{{ myFilter.form.rating }}</span></p>
                   </div>


            <div style = "background-color: rgb(14, 154, 197); width:20vw; height: 4vw; position: relative; color: white; font-size: 2vw; text-align: center; z-index: 10;"><p style = "padding-top: 0.55vw;">Brand</p></div>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Whiskas</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Natura Pet Products </button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Champion Petfoods</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Golden Eagle HH</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Bosch Tiernahrung</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Hill’s Pet Nutrition</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> ROYAL CANIN</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Nestle Purina</button>
            <div style = "background-color: rgb(14, 154, 197); width:20vw; height: 4vw; position: relative; color: white; font-size: 2vw; text-align: center; z-index: 10;"><p style = "padding-top: 0.55vw;">Classification</p></div>
                <button class ="button" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Что значит "Классификация"?</button>

            <div style = "background-color: rgb(14, 154, 197); width:20vw; height: 4vw; position: relative; color: white; font-size: 2vw; text-align: center; z-index: 10;"><p style = "padding-top: 0.55vw;">Animal</p></div>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Cat</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Dog</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Fish</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Bird</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Reptile</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Hamster</button>
                <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Other</button>



            <div style = "background-color: rgb(14, 154, 197); width:20vw; height: 4vw; position: relative; color: white; font-size: 2vw; text-align: center; z-index: 10;"><p style = "padding-top: 0.55vw;">Availability</p></div>
   <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Yes</button>
   <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> In other city</button>
   <button class ="button-old" style = "background-color: rgb(11, 122, 157); width:16vw; height: 3vw; position: relative; left: 2vw; box-shadow: 0 0 2vw rgba(0,0,0,0.5); outline: 1px solid rgb(11, 122, 157); border: none; text-align: center; font-size: 1.5vw; color: white; white-space: nowrap;padding-top: 0.4vw"> Expected</button>

<button class ="button-old" style = "background-color: rgb(70, 208, 250); width:20vw; height: 4vw; position: relative; color: white; font-size: 2vw; text-align: center; z-index: 10 ; outline: none;border: none; padding-top: 0.55vw; " type="submit">Submit</button>
    </form>
</div>
<div  style = "width:74vw; height: 6vw; position: absolute; left:16vw; background-color: rgb(255, 255, 255); font-size: 2vw; display: flex;justify-content: center; align-items: center; background-color: rgb(11, 122, 157);">
  <p style = "display: block;margin: 2vw; color: white">Sort by:</p>
    <div style = "background-color: rgb(13, 153, 196); width:4px; height: 3.5vw; border-radius: 2px;"></div>

    <form method="get" action="{% url 'price_asc' %}">
        <button type="submit" class = "button-text" style="background-color: rgb(11,122,157);"><p class = "button-text" style = "display: block;margin: 2vw; color: white;" >price (ascending)</p></button> <!-- При попытки изменения переходит на search_by_stats/price_ascending -->
    </form>
    <div style = "background-color: rgb(13, 153, 196); width:4px; height: 3.5vw; border-radius: 2px;"></div>

    <form method="get" action="{% url 'price_desc' %}">
        <button type="submit" class = "button-text"  style="background-color: rgb(11,122,157);"><p class = "button-text" style = "display: block;margin: 2vw; color: white;" >price (descending)</p></button> <!-- При попытки изменения переходит на search_by_stats/price_ascending -->
    </form>
  <div style = "background-color: rgb(13, 153, 196); width:4px; height: 3.5vw; border-radius: 2px;"></div>
  <a class = "button-text" style = "color: white; "href = "https://vk.com"><p class = "button-text" style = "display: block;margin: 2vw;" >novelty</p></a>
  <div style = "background-color: rgb(13, 153, 196); width:4px; height: 3.5vw; border-radius: 2px;"></div>
  <a class = "button-text" style = "color: white; "href = "https://vk.com"><p class = "button-text" style = "display: block;margin: 2vw;" >in count</p></a>
</div>




            <div style = "width:74vw; height: 170vw; position: absolute; left:16vw; top: 6vw; background-color: rgb(241, 241, 241); font-size: 2vw; overflow-y: scroll; overflow-x: hidden; ">



              <!-- Это блок продукта (начало) -->
            {% for product in products %}
              <a href = "{% url 'buy' product.id %}" id="{{ product.price }}"><!-- Ссылка на продукт -->
                <div class ="button-old" style="background-color: rgb(255, 255, 255); width:70vw; height: 20vw; position: relative; left: 0vw; font-size: 1.5vw; color: white; white-space: nowrap; margin: 2vw; box-shadow: 0 0 0.5vw rgba(0,0,0,0.5);">
                    <div style = " width: 18vw; height: 18vw; position: relative; top: 1vw; left: 1vw; background-color:rgb(11, 122, 157);"><img style = "width: 16vw; height: 16vw; position: relative; top: 1vw; left: 1vw;" src ="{{ product.imageURL }}" ></div>

                    <div style = " width:49vw; height: 3vw; position: relative; background-color: rgb(11, 122, 157); top: -17.4vw; left: 20vw;"><p style = "margin-top:0.4vw; padding-left:0.7vw; font-size: 2vw; color: rgb(255, 255, 255);">{{ product.name }}</p></div>

                    <div style=" width:70vw; height: 20vw; position: relative; left: 0vw; top: -16vw; left: 2vw; color: rgb(107, 107, 107);">
                        <div style = "background-color: rgb(198, 219, 236); width:49vw; height: 0.2vw; position: relative; border-radius: 0.3vw; left: 18vw; top: 0.1vw"></div>
                        <div style = " width:49vw; height: 3vw; position: relative; top: -0.200vw; left: 18vw"><p style = "margin-top:0.4vw; padding-left:0.7vw; font-size: 2vw; color: rgb(12, 34, 84);">Наличие: да</p></div>
                        <div style = "background-color: rgb(198, 219, 236); width:49vw; height: 0.2vw; position: relative; border-radius: 0.3vw; left: 18vw; top: -0.175vw"></div>
                        <div style = " width:49vw; height: 3vw; position: relative; top: -0.475vw; left: 18vw"><p style = "margin-top:0.4vw; padding-left:0.7vw; font-size: 2vw; color: rgb(12, 34, 84);">Вес: 350гр</p></div>
                        <div style = "background-color: rgb(198, 219, 236); width:49vw; height: 0.2vw; position: relative; border-radius: 0.3vw; left: 18vw; top: -0.45vw"></div>
                        <div style = " width:49vw; height: 3vw; position: relative; top: -0.75vw; left: 18vw" class="price-" id="{{ product.price }}"><p style = "margin-top:0.4vw; padding-left:0.7vw; font-size: 2vw; color: rgb(12, 34, 84);">{{ product.price }} ₸ </p></div>
                        <div style = "background-color: rgb(198, 219, 236); width:49vw; height: 0.2vw; position: relative; border-radius: 0.3vw; left: 18vw; top: -0.725vw"></div>
                        <div style = " width:49vw; height: 3vw; position: relative; top: -1.025vw; left: 18vw"><p style = "margin-top:0.4vw; padding-left:0.7vw; font-size: 2vw; color: rgb(12, 34, 84);">Рейтинг: {{ product.rating }}</p></div>
                        <div style = "background-color: rgb(198, 219, 236); width:49vw; height: 0.2vw; position: relative; border-radius: 0.3vw; left: 18vw; top: -1vw"></div>
                    </div>

                    <!-- Это рейтинг, его нужно определить при создании сайта с помощью кода python (просто там где есть "звёздочка" вместо "rgb(182, 182, 182)" установить "rgb(12, 34, 84)" в background-color;)-->
                    <!--<div style = "display: flex; justify-content: center; align-items: center; position: relative; left:24.75vw; top: -4vw">
                        <div id = "1_Rate" style = "display:block; margin-left:0.3vw; width: 2.5vw; height: 2.5vw; background-color: rgb(182, 182, 182);"></div>
                        <div id = "2_Rate" style = "display:block; margin-left:0.3vw; width: 2.5vw; height: 2.5vw; background-color: rgb(182, 182, 182);"></div>
                        <div id = "3_Rate" style = "display:block; margin-left:0.3vw; width: 2.5vw; height: 2.5vw; background-color: rgb(182, 182, 182);"></div>
                        <div id = "4_Rate" style = "display:block; margin-left:0.3vw; width: 2.5vw; height: 2.5vw; background-color: rgb(182, 182, 182);"></div>
                        <div id = "5_Rate" style = "display:block; margin-left:0.3vw; width: 2.5vw; height: 2.5vw; background-color: rgb(182, 182, 182);"></div>
                    </div>-->
                </div>
              </a>
                {% endfor %}
            <!-- Это блок продукта (конец) -->

            </div>
          </div>
            </div>

        </div>


        <div class = "footer">
          <div style = "background-color: rgb(11, 122, 157); width:100%; height: 4.5vw; position: relative; top: 2vw; display: flex; justify-content: center; align-items: center; font-size: 1.7vw; color: white;">
              <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
              <p style = "display: block;margin: 2vw;"> Контакты </p>
              <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
              <p style = "display: block;margin: 2vw;"> +7 708 113 45 98 </p>
              <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
              <p style = "display: block;margin: 2vw;"> *Some Adress of shop* </p>
              <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>

          </div>
          <div style = "background-color: rgb(11, 122, 157); width:100%; height: 4.5vw; position: relative; top: 3.5vw; display: flex; justify-content: center; align-items: center; font-size: 1.7vw; color: white;">
              <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
              <p style = "display: block;margin: 2vw;">FAQ</p>
              <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
              <p style = "display: block;margin: 2vw;">Мы в социальных сетях:</p>
              <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
              <p style = "display: block;margin: 2vw;">*Some Adress of shop* </p>
              <div style = "background-color: rgb(0, 155, 192); width:4px; height: 3.5vw; border-radius: 2px;"></div>
          </div>
      </div>
{% endblock %}
